.where {
	display: none;
}

.example-2 :where(h3, h4, a) {
	color: red;
}

/*
a,
h3 {
	color: blue;
}

:where(h3, h4, a#link) {
	color: red;
}
*/

/*
:where(.example-2) :where(h3, h4, a#link) {
	color: green;
}
*/
